---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

{% if site.author.googlescholar %}
<p class="wordwrap">
  You can also find my publications on
  <a href="{{ site.author.googlescholar }}">Google Scholar</a>.
</p>
{% endif %}

<p class="wordwrap">
  <em>† Authors listed in alphabetical order. * Equal contribution.</em>
</p>

{% assign publications_sorted = site.publications | sort: "date" | reverse %}

<ul class="publication-list">
  {% for post in publications_sorted %}
    {% include archive-single-cv.html show_citation=false %}
  {% endfor %}
</ul>