html, body, .page__content, .sidebar, .masthead {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
               Roboto, Helvetica, Arial, sans-serif !important;
  font-size: 18px !important;
  line-height: 1.75 !important;
}